{% extends "./base.html" %}
<title>{%block title%}Detalle Producto{% endblock %}</title>

{%block content%}



<form id="iw_form" class="container" method="POST">{% csrf_token%}

    <div class="row align-items-center">

      <div class="col">
        <div class="card" style="width: 25rem;">
            <a href="https://youtube.com"><img src="{{producto.image.url}}" class="card-img-top" alt="..."></a> 
            <input type="hidden" name="token_ws" />
            {% if request.user.is_authenticated %}
            <button id="iw_button" type="submit" disabled>Comprar</button>
            <button id="iw_button-add-cart" type="button">Agregar al carrito</button>
            {%else%}
            <button type="submit" disabled>Comprar</button>
            <small id="id_peso" class="form-text text-muted">Debe tener una sesión iniciada para realizar compra.</small>

            {%endif%}
          </div>
      </div>

      <div class=" col card ">
        <div class="card-text" >
           
            
            <div class="card-body">
              <p class="card-text">
                <h4>Nombre producto: {{producto.nombre_producto}}</h4>
                <h4>Tipo de motor: {{producto.tipo_motor}} </h4>
                <h4>Caballos de fuerza: {{producto.caballos_fuerza}} </h4>
                <h4>Peso: {{producto.peso}}</h4>
                <h4>Valor: ${{producto.valor}}</h4>

              </p>
              
            </div>
            
          </div>
          
      </div>     
      <div class="card p-3">
            <div class="card-body">
              <h5 class="card-text">{{producto.descripcion}}</h5>
            </div>
  
      </div>

    
            
          
             
            </div>
</form>

<script>
  const $form = document.getElementById("iw_form");
  const $button = document.getElementById("iw_button");
  const $buttonAddCart = document.getElementById("iw_button-add-cart")
  const productName = "{{producto.nombre_producto}}"
  const productPrice = "{{producto.valor}}"
  const productImage = "{{producto.image.url}}"

  const urlPatterns = new URLPattern({ pathname: "/detalle_producto/:id" })

  $buttonAddCart.addEventListener("click", () => {
    let url = window.location.href

    if (url.endsWith("/")) url = url.slice(0, url.length - 1)

    const exec = urlPatterns.exec(url)

    if (!exec) {
      console.log("???")
      return
    }

    const { id } = exec.pathname.groups

    pushProductCart({
      id,
      img: productImage,
      price: parseInt(productPrice),
      name: productName
    })
  })

  async function main() {
    /*if (!productName || typeof productName !== "string") {
      console.log("Esta faltando el nombre del producto");
      return
    }*/

    if (!productPrice || typeof productPrice !== "string") {
      console.log("Esta faltando el precio del producto");
      return
    }

    const parseProductPrice = parseInt(productPrice);

    if (isNaN(parseProductPrice)) {
      console.log("El valor del precio en el string al parecer esta conteniendo otros caracteres que no son numeros");
      return
    }

    try {
      const dateNow = Date.now()

      const payload = {
        buy_order: `ORDER-${dateNow}`,
        session_id: `SESSION-${dateNow}`,
        amount: parseProductPrice,
        return_url: RETURN_URL
      }

      const fetching = await fetch(
        `${BASE_URL}/create-payment`,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(payload)
        }
      );

      const data = await fetching.json();

      if (data.message !== "OK") {
        console.log(data);
        return
      }

      $form.token_ws.value = data.data.token
      $form.setAttribute("action", data.data.url);
      $button.removeAttribute("disabled")
    }

    catch(e) {
      console.error(e);
      console.error("Error al conectarse a la api");
    }

  }

  main()
</script>


      
  
    

{%endblock%}