{% extends "./base.html" %}
<title>{%block title%}Productos{% endblock %}</title>
{% block content%}

    <div class="container">

        <div class="row">
            <div class="title-novedades">
                <h1>Novedades</h1>
            </div>
            {% for e in home%}
          <div class="card-group col card-deck">
            <div class="card" style="width: 18rem;">
                <a href="https://youtube.com"><img src="{{e.image.url}}" class="card-img-top" alt="..."></a> 
                <div class="card-body">
                  <p class="card-text"><h3>{{e.title}}</h3><p>{{e.sub_title}}</p></p>
                </div>
              </div>
          </div>
          {% endfor %}
        </div>
      </div>

{% endblock %}